<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%5level] %logger{1.} - %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="es.vikour" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="org.springframework.batch" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Root level="warn">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
